body {
  margin: 0px;
  overflow-x:hidden;
}

nav {
  background-color:rgb(243, 200, 18);

  justify-content : space-between;
  align-items: center;
  margin: 0px;
  height: 40px;
}

.beforeLoginView {
  display: flex;
  justify-content : space-between;

}
.afterLoginView {
  display: flex;
  width :50;
  justify-content : space-between;

}
.nav-links {
  display: flex;
}

.logo {
  text-decoration: none;
  font-size: 26px;
  color: white;
  margin-right: 16px;

}

.testbtn {
  border: solid, 1px, gray;
  text-decoration: none;
  background-color: rgb(255, 120, 47);
  height: 25px;
  margin-top: 8px;
  color: white;
  border: 1px solid transparent;
  padding: 5px 12px;
}
.testbtn:hover {
  cursor: pointer;
}


.link {
  text-align:end;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

.link:hover {
  text-decoration: none;
}

.active {
  color: white;
  margin-left: 1rem;
  align-items: center;
}