body {
  margin: 0px;
}

nav {
  background-color:rgba(46, 204, 113, 0.67);
  display: flex;
  align-items: center;
  margin: 0px;
  height: 40px;
}

.logo {
  text-decoration: none;
  font-size: 26px;
  color: rgba(0, 0 ,0, 0.9);
  margin-right: 16px;
}

button {
  border: solid, 1px, gray;
  text-decoration: none;
  background-color: transparent;
  border-color: rgba(0, 0 ,0, 0.1);
  color: rgba(0, 0 ,0, 0.5);
  padding: 5px 12px;
}

.link {
   margin: 10px;
   font-size: 18px;
   text-decoration: none;
   color: rgba(0, 0 ,0, 0.5);
}

.link:hover {
  text-decoration: none;
}

.active {
  color: rgba(0, 0 ,0, 0.9);
}