body {
  margin: 0px;
  overflow-x:hidden;
}

nav {
  background-color:rgb(243, 200, 18);
  display: flex;
  align-items: center;
  margin: 0px;
  height: 40px;
}

.nav-links {
  display: flex;
}

.logo {
  text-decoration: none;
  font-size: 26px;
  color: white;
  margin-right: 16px;

}

button {
  border: solid, 1px, gray;
  text-decoration: none;
  background-color: transparent;
  border-color: rgb(243, 200, 18);
  color: white;

  padding: 5px 12px;
}

.link {
  text-align:end;
  margin: 10px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin-right: 2rem;
}

.link:hover {
  text-decoration: none;
}

.active {
  color: white;
  width: 85%;
  margin-left: 1rem;
  align-items: center;
}